<a href="https://colab.research.google.com/github/Cassidyevelyn/python_with_data/blob/main/Copy_of_Data_Investigation_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data investigation project
---

Use what you have learnt so far about reading data files and displaying rows, columns, unique values, etc, to investigate and produce some printed information from this data set: https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv

# First 10 rows of data

In [13]:
# @title Default title text
import pandas as pd

url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv"
data = pd.read_csv(url)

display(data.head(10))

,code,area,date,median_salary,life_satisfaction,mean_salary,recycling_pct,population_size,number_of_jobs,area_size,no_of_houses,borough_flag
0,E09000001,city of london,1999-12-01,33020.0,NaN,48922,0,6581.0,NaN,NaN,NaN,1
1,E09000002,barking and dagenham,1999-12-01,21480.0,NaN,23620,3,162444.0,NaN,NaN,NaN,1
2,E09000003,barnet,1999-12-01,19568.0,NaN,23128,8,313469.0,NaN,NaN,NaN,1
3,E09000004,bexley,1999-12-01,18621.0,NaN,21386,18,217458.0,NaN,NaN,NaN,1
4,E09000005,brent,1999-12-01,18532.0,NaN,20911,6,260317.0,NaN,NaN,NaN,1
5,E09000006,bromley,1999-12-01,16720.0,NaN,21293,13,294902.0,NaN,NaN,NaN,1
6,E09000007,camden,1999-12-01,23677.0,NaN,30249,13,190003.0,NaN,NaN,NaN,1
7,E09000008,croydon,1999-12-01,19563.0,NaN,22205,13,332066.0,NaN,NaN,NaN,1
8,E09000009,ealing,1999-12-01,20580.0,NaN,25046,12,302252.0,NaN,NaN,NaN,1
9,E09000010,enfield,1999-12-01,19289.0,NaN,21006,9,272731.0,NaN,NaN,NaN,1

# Display two columns

In [4]:
import pandas as pd

data[['median_salary', 'population_size']].head(51)

    median_salary  population_size
0         33020.0           6581.0
1         21480.0         162444.0
2         19568.0         313469.0
3         18621.0         217458.0
4         18532.0         260317.0
5         16720.0         294902.0
6         23677.0         190003.0
7         19563.0         332066.0
8         20580.0         302252.0
9         19289.0         272731.0
10        21236.0         212168.0
11        23249.0         199087.0
12        25000.0         160634.0
13        18783.0         218559.0
14        20596.0         207909.0
15        17165.0         225712.0
16        24002.0         245053.0
17        20155.0         214298.0
18        25113.0         175717.0
19        20646.0         147678.0
20        19302.0         146003.0
21        23151.0         266817.0
22        20580.0         250310.0
23        18962.0         185062.0
24        18862.0         240517.0
25        19580.0         238138.0
26        22321.0         172782.0
27        22784.0         247853.0
28        19582.0         179375.0
29        26376.0         193507.0
30        18547.0         221057.0
31        21321.0         264220.0
32        24447.0         189233.0
33        16282.0        2550314.0
34        16977.0        6773115.0
35        16527.0        4956325.0
36        16392.0        4152443.0
37        17000.0        5271959.0
38        18000.0        5338722.0
39        22487.0        7153912.0
40        18737.0        7955124.0
41        16727.0        4880958.0
42            NaN        2750716.0
43            NaN        4403196.0
44        17939.0       49032872.0
45        17803.0       58684427.0
46        17866.0       57005421.0
47        17974.0       51933471.0
48        15798.0        1679006.0
49        16914.0        5071950.0
50        16457.0        2900599.0

# Top ten areas with the lowest median salary

In [17]:
import pandas as pd

# Load the CSV data
url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv"
data = pd.read_csv(url)

# Find the bottom ten areas with the smallest median salary
bottom_ten_areas = data.nsmallest(10, 'median_salary')

# Display the data for the bottom ten areas
display(bottom_ten_areas)

,code,area,date,median_salary,life_satisfaction,mean_salary,recycling_pct,population_size,number_of_jobs,area_size,no_of_houses,borough_flag
107,E09000006,bromley,2001-12-01,15684.0,NaN,19749,14,296218.0,114000.0,15013.0,128717.0,1
48,N92000002,northern ireland,1999-12-01,15798.0,NaN,19093,NaN,1679006.0,NaN,NaN,NaN,0
168,E09000016,havering,2002-12-01,16123.0,NaN,19520,5,225054.0,91000.0,11446.0,94194.0,1
33,E12000001,north east,1999-12-01,16282.0,NaN,18351,5,2550314.0,NaN,NaN,NaN,0
36,E12000004,east midlands,1999-12-01,16392.0,NaN,18864,11,4152443.0,NaN,NaN,NaN,0
56,E09000006,bromley,2000-12-01,16401.0,NaN,21178,13,295317.0,115000.0,NaN,NaN,1
50,W92000004,wales,1999-12-01,16457.0,NaN,18486,NaN,2900599.0,NaN,NaN,NaN,0
35,E12000003,yorkshire and the humber,1999-12-01,16527.0,NaN,18977,7,4956325.0,NaN,NaN,NaN,0
99,N92000002,northern ireland,2000-12-01,16599.0,NaN,19112,NaN,1682944.0,762000.0,NaN,NaN,0
158,E09000006,bromley,2002-12-01,16635.0,NaN,21513,15,296668.0,119000.0,15013.0,128974.0,1